@model KlubPilkarski.Models.ZawodnikMecz

@{
    ViewBag.Title = "Usuń klub";
}

<h2>Usuń klub</h2>

<h3>Czy jesteś pewien że chcesz usunąć ten element?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mecz
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mecz.Klub1.Nazwa) - @Html.DisplayFor(model => model.Mecz.Klub.Nazwa)
        </dd>

        <dt>
            Zawodnik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zawodnik.Imie) @Html.DisplayFor(model => model.Zawodnik.Nazwisko)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger delete-button" /> 
            @Html.ActionLink("Powrót do listy występów zawodników", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
