@model KlubPilkarski.Models.ZawodnikMecz

@{
    ViewBag.Title = "Informacje o występie zawodnika w meczu";
}

<h2>Informacje o występie zawodnika w meczu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mecz
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mecz.Data) @Html.DisplayFor(model => model.Mecz.Klub1.Nazwa) - @Html.DisplayFor(model => model.Mecz.Klub.Nazwa)
        </dd>

        <dt>
            Zawodnik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zawodnik.Imie) @Html.DisplayFor(model => model.Zawodnik.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pozycja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pozycja)
        </dd>

        <dt>
            Czas gry
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinutyOd) @Html.DisplayFor(model => model.MinutyDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bramki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bramki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asysty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asysty)
        </dd>

        <dt>
            Utworzone szanse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtworzoneSzanse)
        </dd>

        <dt>
            Strzały celne
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrzalyCelne)
        </dd>

        <dt>
            Strzały niecelne
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrzalyNiecelne)
        </dd>

        <dt>
            Strzały zablokowane
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrzalyZablokowane)
        </dd>

        <dt>
            Słupki i poprzeczki
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlupkiPoprzeczki)
        </dd>

        <dt>
            Kartki żółte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KartkiZolte)
        </dd>

        <dt>
            Kartki czerwone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KartkiCzerwone)
        </dd>

        <dt>
            Podania celne na własnej połowie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodaniaUdanePolowaWlasna)
        </dd>

        <dt>
            Podania celne na połowie przeciwnika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodaniaUdanePolowaPrzeciwnika)
        </dd>

        <dt>
            Podania niecelne
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodaniaNieudane)
        </dd>

        <dt>
            Dośrodkowania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dosrodkowania)
        </dd>

        <dt>
            Celne długie podania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DlugiePodaniaUdane)
        </dd>

        <dt>
            Niecelne długie podania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DlugiePodaniaNieudane)
        </dd>

        <dt>
            Kluczowe podania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KluczowePodania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontakty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontakty)
        </dd>

        <dt>
            Rzuty rożne
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RzutyRozne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wyrzuty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wyrzuty)
        </dd>

        <dt>
            Pojedunki wygrane
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PojedynkiWygrane)
        </dd>

        <dt>
            Pojedynki przegrane
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PojedynkiPrzegrane)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wybicia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wybicia)
        </dd>

        <dt>
            Dryblingi udane
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DryblingiUdane)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Straty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Straty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faulowany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faulowany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faule)
        </dd>

        <dt>
            Odbiory udane
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdbioryUdane)
        </dd>

        <dt>
            Odbiory nieudane
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdbioryNieudane)
        </dd>

        <dt>
            Główki wygrane
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlowkiWygrane)
        </dd>

        <dt>
            Główki przegrane
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlowkiPrzegrane)
        </dd>

        <dt>
            Przejęcia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Przejecia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spalone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spalone)
        </dd>

        <dt>
            Odzyskane piłki
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdzyskanePilki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdZM }, new { @class = "btn btn-warning edit-button" })
    @Html.ActionLink("Powrót do listy występów zawodników", "Index", null, new { @class = "btn btn-primary" })
</p>
