@model KlubPilkarski.Models.Mecz

@{
    ViewBag.Title = "Dodaj mecz";
}

<h2>Dodaj mecz</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdS, "Sezon", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdS", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdKolejka, "Kolejka", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdKolejka", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdKolejka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdStadion, "Stadion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdStadion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdStadion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdKlubGospodarze, "Gospodarze", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdKlubGospodarze", null, htmlAttributes: new { @id = "klubGospodarzeSelect", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdKlubGospodarze, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdKlubGoscie, "Goście", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdKlubGoscie", null, htmlAttributes: new { @id = "klubGoscieSelect", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdKlubGoscie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdSedzia, "Sędzia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdSedzia", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdSedzia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kibice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kibice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kibice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-success" />
                @Html.ActionLink("Powrót do listy meczy", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var url = '@Url.Action("FetchClubs","Mecz")';
        var gospodarze = $('#klubGospodarzeSelect');
        var goscie = $('#klubGoscieSelect');

        $(document).ready(function () {
            var id = $('#klubGospodarzeSelect').val();
            $.getJSON(url, { id: id }, function (response) {
                goscie.empty();
                $.each(response, function (index, item) {
                    goscie.append($('<option></option>').text(item.Nazwa).val(item.IdK));
                });
            });
        });

        $('#klubGospodarzeSelect').change(function () {
            var id = $(this).val();
            $.getJSON(url, { id: id }, function (response) {
                goscie.empty();
                $.each(response, function (index, item) {
                    goscie.append($('<option></option>').text(item.Nazwa).val(item.IdK));
                });
            });
        });
    </script>
}
