@model KlubPilkarski.Models.Mecz

@{
    ViewBag.Title = "Informacje o meczu";
}

<h2>Informacje o meczu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            Mecz
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klub1.Nazwa) - @Html.DisplayFor(model => model.Klub.Nazwa)
        </dd>

        <dt>
            Wynik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BramkiGospodarze):@Html.DisplayFor(model => model.BramkiGoscie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kibice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kibice)
        </dd>

        <dt>
            Numer kolejki
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolejka.Nr)
        </dd>

        <dt>
            Sędzia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sedzia.Imie) @Html.DisplayFor(model => model.Sedzia.Nazwisko)
        </dd>

        <dt>
            Sezon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sezon.RokOd)/@Html.DisplayFor(model => model.Sezon.RokDo)
        </dd>

        <dt>
            Stadion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stadion.Nazwa) - @Html.DisplayFor(model => model.Stadion.Miejscowosc)
        </dd>

        <dt>
            Forma gospodarzy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaGospodarze)
        </dd>

        <dt>
            Forma gości
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaGoscie)
        </dd>

    </dl>
</div>
<p>
    @if (System.Web.HttpContext.Current.User.IsInRole("PracownikKlubu") && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdM }, new { @class = "btn btn-warning edit-button" })
        @Html.ActionLink("Przelicz formę klubów", "CalculateClubsRating", new { id = Model.IdM }, new { @class = "btn btn-info" })
    }
    @Html.ActionLink("Powrót do listy meczy", "Index", null, new { @class = "btn btn-primary" })
</p>
