@model IEnumerable<KlubPilkarski.Models.Mecz>

@{
    ViewBag.Title = "Lista meczy";
}

<h2>Lista meczy</h2>

<p align="right">
    @if (System.Web.HttpContext.Current.User.IsInRole("PracownikKlubu") && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <button type="button" class="btn btn-primary add-button"
                onclick="location.href='@Url.Action("Create", "Mecz")'"
                data-toggle="tooltip" data-placement="top" title="Dodaj mecz">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj mecz
        </button>
    }
</p>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Mecz
            </th>
            <th>
                Wynik
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Data
            </th>
            <th>
                Mecz
            </th>
            <th>
                Wynik
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            if (System.Web.HttpContext.Current.User.IsInRole("PracownikKlubu") && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Klub1.Nazwa) - @Html.DisplayFor(modelItem => item.Klub.Nazwa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BramkiGospodarze):@Html.DisplayFor(modelItem => item.BramkiGoscie)
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm edit-button"
                                onclick="location.href='@Url.Action("Edit", "Mecz", new { id = item.IdM })'"
                                data-toggle="tooltip" data-placement="top" title="Edytuj mecz">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm"
                                onclick="location.href='@Url.Action("Details", "Mecz", new { id = item.IdM })'"
                                data-toggle="tooltip" data-placement="top" title="Pokaż szczegółowe informacje">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-info btn-sm"
                                onclick="location.href='@Url.Action("AllInMatch", "ZawodnikMecz", new { id = item.IdM })'"
                                data-toggle="tooltip" data-placement="top" title="Wyświetl występy zawodników w meczu">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm delete-button"
                                onclick="location.href='@Url.Action("Delete", "Mecz", new { id = item.IdM })'"
                                data-toggle="tooltip" data-placement="top" title="Usuń mecz">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
            else
            {
                if(item.Klub.Nazwa == "Manchester United F.C." || item.Klub1.Nazwa == "Manchester United F.C.")
                {              
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Klub1.Nazwa) - @Html.DisplayFor(modelItem => item.Klub.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BramkiGospodarze):@Html.DisplayFor(modelItem => item.BramkiGoscie)
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"
                                    onclick="location.href='@Url.Action("Details", "Mecz", new { id = item.IdM })'"
                                    data-toggle="tooltip" data-placement="top" title="Pokaż szczegółowe informacje">
                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>

</table>
