@model IEnumerable<KlubPilkarski.Models.Mecz>

@{
    ViewBag.Title = "Lista nadchodzących meczy";
}

<h2>Lista nadchodzących meczy</h2>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Mecz
            </th>
            <th>
                Stadion
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Data
            </th>
            <th>
                Mecz
            </th>
            <th>
                Stadion
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Klub1.Nazwa) - @Html.DisplayFor(modelItem => item.Klub.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stadion.Nazwa), @Html.DisplayFor(modelItem => item.Stadion.Miejscowosc)
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm"
                            onclick="location.href='@Url.Action("Details", "Mecz", new { id = item.IdM })'"
                            data-toggle="tooltip" data-placement="top" title="Pokaż szczegółowe informacje">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>
