@model IEnumerable<KlubPilkarski.Models.Zawodnik>

@{
    Dictionary<int, double> oceny = ViewBag.Oceny;
    Dictionary<int, String> pozycja = ViewBag.Pozycja;
    int tmpId = 0;
    double tmp = 0;
    ViewBag.Title = "Nadchodzący mecz";
}

<h2>Nadchodzący mecz</h2>

@if (ViewBag.CzyPusty)
{
    <p align="center">
        <h3>Brak odpowiednich danych do wyświetlenia przewidywanych składów</h3>
    </p>
}
else
{
<div style="background: #118518; margin: 0 auto;">
    <div align="center" class="row" style="margin-left: 15%;">
        <div class="col-md-10" style="background: #118518; color: antiquewhite;">
            <p align="center">
                <strong>@ViewBag.KlubPrzeciwnika</strong>
            </p>
        </div>
    </div>
    <div align="center" class="row" style="margin-left: 15%;">
        <div class="col-md-10 panel" id="brPrzeciwnik" style="background: #118518; border-left: solid; border-bottom: solid; border-right: solid; border-color: white; color: antiquewhite;">
            <p align="center">
                @foreach (var item in Model)
                {
                    if (oceny.ContainsKey(item.IdZ))
                    {
                        if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "BR")
                        {
                            tmpId = item.IdZ;
                            tmp = oceny[item.IdZ];
                        }
                    }
                }
                <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
            </p>
            <p align="center">
                @oceny[tmpId]
                @{
                    tmpId = 0;
                }
            </p>
        </div>
    </div>
    @if (ViewBag.IloscSoPrzeciwnik == 2)
    {
        <div class="row" style="margin-left: 15%;">
            <div class="col-md-2" id="poPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "PO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="so1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszyObroncaPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="so2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="so3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚO" && item.IdZ != pierwszyObroncaPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="loPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "LO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        </div>
    }
    else if (ViewBag.IloscSoPrzeciwnik == 3)
    {
        <div class="row" style="margin-left: 15%;">
            <div class="col-md-2" id="poPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="so1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszyObroncaPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="so2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚO" && item.IdZ != pierwszyObroncaPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int drugiObroncaPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="so3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚO" && item.IdZ != pierwszyObroncaPrzeciwnika && item.IdZ != drugiObroncaPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="loPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        </div>
    }
    <div class="row" style="margin-left: 15%;">
        @if (ViewBag.IloscSoPrzeciwnik == 3)
        {
            <div class="col-md-2" id="poPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "PO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="poPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        @if (ViewBag.IloscSpdPrzeciwnik == 1)
        {
            <div class="col-md-2" id="spd1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spd2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚPD")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spd3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        else if (ViewBag.IloscSpdPrzeciwnik == 2)
        {
            <div class="col-md-2" id="spd1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚPD")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszySpdPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spd2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spd3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚPD" && item.IdZ != pierwszySpdPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="spd1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spd2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spd3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        @if (ViewBag.IloscSoPrzeciwnik == 3)
        {
            <div class="col-md-2" id="loPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "LO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="loPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
    </div>
    <div class="row" style="margin-left: 15%;">
        @if (ViewBag.IloscPpPrzeciwnik == 1)
        {
            <div class="col-md-2" id="ppPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "PP")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="ppPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        @if (ViewBag.IloscSpPrzeciwnik == 1)
        {
            <div class="col-md-2" id="sp1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="sp2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚP")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="sp3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        else if (ViewBag.IloscSpPrzeciwnik == 2)
        {
            <div class="col-md-2" id="sp1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚP")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszySpPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="sp2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="sp3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚP" && item.IdZ != pierwszySpPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else if (ViewBag.IloscSpPrzeciwnik == 3)
        {
            <div class="col-md-2" id="sp1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚP")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszySpPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="sp2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚP" && item.IdZ != pierwszySpPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int drugiSpPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="sp3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚP" && item.IdZ != pierwszySpPrzeciwnika && item.IdZ != drugiSpPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="sp1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="sp2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="sp3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        @if (ViewBag.IloscLpPrzeciwnik == 1)
        {
            <div class="col-md-2" id="lpPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "LP")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="lpPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
    </div>
    <div class="row" style="margin-left: 15%;">
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
        @if (ViewBag.IloscSpoPrzeciwnik == 1)
        {
            <div class="col-md-2" id="spo1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spo2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚPO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spo3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        else if (ViewBag.IloscSpoPrzeciwnik == 2)
        {
            <div class="col-md-2" id="spo1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚPO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszySpoPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spo2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spo3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚPO" && item.IdZ != pierwszySpoPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else if (ViewBag.IloscSpoPrzeciwnik == 3)
        {
            <div class="col-md-2" id="spo1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚPO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszySpoPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spo2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚPO" && item.IdZ != pierwszySpoPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int drugiSpoPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spo3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "ŚPO" && item.IdZ != pierwszySpoPrzeciwnika && item.IdZ != drugiSpoPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="spo1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spo2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spo3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
    </div>
    <div class="row" style="margin-left: 15%;">
        @if (ViewBag.IloscPsPrzeciwnik == 1)
        {
            <div class="col-md-2" id="psPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "PS")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="psPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
        @if (ViewBag.IloscCnPrzeciwnik == 1)
        {
            <div class="col-md-2" id="cnPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "CN")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="cnPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
        @if (ViewBag.IloscLsPrzeciwnik == 1)
        {
            <div class="col-md-2" id="lsPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "LS")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="lsPrzeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
    </div>
    <div class="row" style="margin-left: 15%;">
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
        @if (ViewBag.IloscNPrzeciwnik == 1)
        {
            <div class="col-md-2" id="n1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="n2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "N")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="n3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        else if (ViewBag.IloscNPrzeciwnik == 2)
        {
            <div class="col-md-2" id="n1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "N")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszyNPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="n2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="n3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "N" && item.IdZ != pierwszyNPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else if (ViewBag.IloscNPrzeciwnik == 3)
        {
            <div class="col-md-2" id="n1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "N")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszyNPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="n2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "N" && item.IdZ != pierwszyNPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int drugiNPrzeciwnika = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="n3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa != ViewBag.Klub && pozycja[item.IdZ] == "N" && item.IdZ != pierwszyNPrzeciwnika && item.IdZ != drugiNPrzeciwnika)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="n1Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="n2Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="n3Przeciwnik" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
    </div>
    <div class="row" style="margin-left: 15%;">
        <div class="col-md-10 panel"></div>
    </div>
    <div class="row" style="margin-left: 15%;">
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
        @if (ViewBag.IloscN == 1)
        {
            <div class="col-md-2" id="n1" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="n2" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "N")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="n3" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        else if (ViewBag.IloscN == 2)
        {
            <div class="col-md-2" id="n1" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "N")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszyN = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="n2" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="n3" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "N" && item.IdZ != pierwszyN)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else if (ViewBag.IloscN == 3)
        {
            <div class="col-md-2" id="n1" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "N")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszyN = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="n2" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "N" && item.IdZ != pierwszyN)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int drugiN = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="n3" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "N" && item.IdZ != pierwszyN && item.IdZ != drugiN)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="n1" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="n2" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="n3" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
    </div>
    <div class="row" style="margin-left: 15%;">
        @if (ViewBag.IloscLs == 1)
        {
            <div class="col-md-2" id="ls" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "LS")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="ls" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
        @if (ViewBag.IloscCn == 1)
        {
            <div class="col-md-2" id="cn" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "CN")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="cn" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
        @if (ViewBag.IloscPs == 1)
        {
            <div class="col-md-2" id="ps" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "PS")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="ps" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
    </div>
    <div class="row" style="margin-left: 15%;">
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
        @if (ViewBag.IloscSpo == 1)
        {
            <div class="col-md-2" id="spo1" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spo2" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚPO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spo3" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        else if (ViewBag.IloscSpo == 2)
        {
            <div class="col-md-2" id="spo1" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚPO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszySpo = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spo2" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spo3" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚPO" && item.IdZ != pierwszySpo)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else if (ViewBag.IloscSpo == 3)
        {
            <div class="col-md-2" id="spo1" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚPO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszySpo = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spo2" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚPO" && item.IdZ != pierwszySpo)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int drugiSpo = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spo3" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚPO" && item.IdZ != pierwszySpo && item.IdZ != drugiSpo)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="spo1" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spo2" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spo3" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        <div class="col-md-2" style="background: #118518; color: antiquewhite;">
            <p align="center"></p>
        </div>
    </div>
    <div class="row" style="margin-left: 15%;">
        @if (ViewBag.IloscLp == 1)
        {
            <div class="col-md-2" id="lp" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "LP")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="lp" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        @if (ViewBag.IloscSp == 1)
        {
            <div class="col-md-2" id="sp1" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="sp2" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚP")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="sp3" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        else if (ViewBag.IloscSp == 2)
        {
            <div class="col-md-2" id="sp1" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚP")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszySp = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="sp2" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="sp3" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚP" && item.IdZ != pierwszySp)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else if (ViewBag.IloscSp == 3)
        {
            <div class="col-md-2" id="sp1" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚP")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszySp = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="sp2" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚP" && item.IdZ != pierwszySp)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int drugiSp = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="sp3" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚP" && item.IdZ != pierwszySp && item.IdZ != drugiSp)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="sp1" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="sp2" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="sp3" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        @if (ViewBag.IloscPp == 1)
        {
            <div class="col-md-2" id="pp" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "PP")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="pp" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
    </div>
    <div class="row" style="margin-left: 15%;">
        @if (ViewBag.IloscSo == 3)
        {
            <div class="col-md-2" id="lo" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "LO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="lo" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        @if (ViewBag.IloscSpd == 1)
        {
            <div class="col-md-2" id="spd1" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spd2" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚPD")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spd3" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        else if (ViewBag.IloscSpd == 2)
        {
            <div class="col-md-2" id="spd1" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚPD")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszySpd = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="spd2" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spd3" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚPD" && item.IdZ != pierwszySpd)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="spd1" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spd2" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="spd3" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
        @if (ViewBag.IloscSo == 3)
        {
            <div class="col-md-2" id="po" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "PO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-2" id="po" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        }
    </div>
    @if (ViewBag.IloscSo == 2)
    {
        <div class="row" style="margin-left: 15%;">
            <div class="col-md-2" id="lo" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "LO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="so1" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszyObronca = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="so2" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="so3" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚO" && item.IdZ != pierwszyObronca)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="po" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "PO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
        </div>
    }
    else if (ViewBag.IloscSo == 3)
    {
        <div class="row" style="margin-left: 15%;">
            <div class="col-md-2" id="lo" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
            <div class="col-md-2" id="so1" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚO")
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int pierwszyObronca = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="so2" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚO" && item.IdZ != pierwszyObronca)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @{
                        int drugiObronca = tmpId;
                    }
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="so3" style="background: #118518; color: antiquewhite;">
                <p align="center">
                    @foreach (var item in Model)
                    {
                        if (oceny.ContainsKey(item.IdZ))
                        {
                            if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "ŚO" && item.IdZ != pierwszyObronca && item.IdZ != drugiObronca)
                            {
                                tmpId = item.IdZ;
                                tmp = oceny[item.IdZ];
                            }
                        }
                    }
                    <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
                </p>
                <p align="center">
                    @oceny[tmpId]
                    @{
                        tmpId = 0;
                    }
                </p>
            </div>
            <div class="col-md-2" id="po" style="background: #118518; color: antiquewhite;">
                <p align="center"></p>
            </div>
        </div>
    }
    <div class="row" style="margin-left: 15%; margin-bottom: 0;">
        <div class="col-md-10 panel" id="br" style="background: #118518; border-left: solid; border-top: solid; border-right: solid; border-color: white; color: antiquewhite;">
            <p align="center">
                @foreach (var item in Model)
                {
                    if (oceny.ContainsKey(item.IdZ))
                    {
                        if (item.Klub.Nazwa == ViewBag.Klub && pozycja[item.IdZ] == "BR")
                        {
                            tmpId = item.IdZ;
                            tmp = oceny[item.IdZ];
                        }
                    }
                }
                <strong>@Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Imie @Model.Where(z => z.IdZ == tmpId).FirstOrDefault().Nazwisko</strong>
            </p>
            <p align="center">
                @oceny[tmpId]
                @{
                    tmpId = 0;
                }
            </p>
        </div>
    </div>
    <div align="center" class="row" style="margin-left: 15%;">
        <div class="col-md-10" style="background: #118518; color: antiquewhite;">
            <p align="center">
                <strong>@ViewBag.Klub</strong>
            </p>
        </div>
    </div>
</div>


<br />

<div class="row" style="margin-left: 15%;">
    <div class="col-md-10 panel">
        <p align="center">
            <strong>Średnia ocena obrońców (@ViewBag.KlubPrzeciwnika): </strong>@String.Format("{0:0.0}", ViewBag.OcenyFormacjiPrzeciwnik[0])

        </p>
    </div>
</div>
<div class="row" style="margin-left: 15%;">
    <div class="col-md-10 panel">
        <p align="center">
            <strong>Średnia ocena pomocników (@ViewBag.KlubPrzeciwnika): </strong>@String.Format("{0:0.0}", ViewBag.OcenyFormacjiPrzeciwnik[1])

        </p>
    </div>
</div>
<div class="row" style="margin-left: 15%;">
    <div class="col-md-10 panel">
        <p align="center">
            <strong>Średnia ocena napastników (@ViewBag.KlubPrzeciwnika): </strong>@String.Format("{0:0.0}", ViewBag.OcenyFormacjiPrzeciwnik[2])

        </p>
    </div>
</div>

<div class="row" style="margin-left: 15%;">
    <div class="col-md-10 panel">
        <p align="center">
            <strong>Średnia ocena obrońców (@ViewBag.Klub): </strong>@String.Format("{0:0.0}", ViewBag.OcenyFormacji[0])

        </p>
    </div>
</div>
<div class="row" style="margin-left: 15%;">
    <div class="col-md-10 panel">
        <p align="center">
            <strong>Średnia ocena pomocników (@ViewBag.Klub): </strong>@String.Format("{0:0.0}", ViewBag.OcenyFormacji[1])

        </p>
    </div>
</div>
<div class="row" style="margin-left: 15%;">
    <div class="col-md-10 panel">
        <p align="center">
            <strong>Średnia ocena napastników (@ViewBag.Klub): </strong>@String.Format("{0:0.0}", ViewBag.OcenyFormacji[2])

        </p>
    </div>
</div>
}
