@model KlubPilkarski.Models.Stadion

@{
    ViewBag.Title = "Informacje o stadionie";
}

<h2>Informacje o stadionie</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            Miejscowość
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejscowosc)
        </dd>

        <dt>
            Pojemność
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pojemnosc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdStadion }, new { @class = "btn btn-warning edit-button" })
    @Html.ActionLink("Powrót do listy stadionów", "Index", null, new { @class = "btn btn-primary" })
</p>
